# =========================
# Node Modules
# =========================
node_modules/

# =========================
# React Build
# =========================
dist/
build/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Uploads & Processed Files
# =========================
backend/uploads/
backend/processed/
backend/exports/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db